<!DOCTYPE html>
<html>
    <head>
        <title>Newstep</title>
    </head>

    <body>
        <h1>Andriy says...welcome to new the world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/newstep/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

       
    </body>
</html>
